# HEJIndata test output files.
HEJIndata*.xml

# Eclipse
.classpath
.project
.settings/
maven-eclipse.xml
.externalToolBuilders

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
bin/
log/
target/
